.action {
  padding-bottom: 70px;

  & .action__list {
    position: relative;
    display: flex;
    align-items: center;

    & .action__item {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      transition: 0.3s;

      &.active {
        opacity: 1;
        margin: 0;
      }
    }
    
  }

  &.nojs {
    .action__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    & .action__item {
      opacity: 1;
      position: relative;
      top: auto;
      left: auto;
      transform: translateX(0);
    }
  }
}

.action__item {
    width: 100%;
    max-width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px 15px;
}

.action__svg {
    width: 90px;
    height: 90px;
    margin-bottom: 30px;

    @media (min-width: @min-width-tablet) {
        width: 105px;
        height: 105px;
    }
}

.action__btn {
    height: 45px;
    line-height: 45px;
    ;
}

.action__title {
    padding: 14.5px 0;
    font-size: 14px;
    text-transform: uppercase;
}

.action__text {
    text-align: center;
    font-size: 14px;
    color: @text-color-light;
}