.calc {
    margin-bottom: 40px;
    width: 290px;

    @media (min-width: @min-md) {
        margin-bottom: 50px;
        width: 100%;
    }
}

.btn--calc {
    width: 100%;
}


.elem-calc {
    margin-bottom: 15px;

    .input-inner {
        margin-bottom: 0;
    }

    @media (min-width: @min-md) {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nuber-calc,
        label {
            width: 48%;
        }

        .select-inner {
            width: 48%;

            & select {
                width: 100%;
            }
        }
    }
}

.nuber-calc {
    display: flex;

    & button {
        width: 48px;
        padding: 0;
    }

    & input {
        width: 194px;

        @media (min-width: @min-md) {
            width: 88px;
        }
    }
}

.number-down,
.number-up {
    margin-bottom: 0;
    position: relative;
    overflow: hidden;


    &::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border-top: 1px solid @color-light;
        border-left: 1px solid @color-light;
        position: absolute;
        top: 30%;
        left: 70%;
        transform: rotate(-45deg) translate(-50%, -50%);
    }
}

.number-down::before {
    top: 30%;
    left: 70%;
}

.number-up::before {
    top: 30%;
    left: -6%;
    transform: rotate(135deg) translate(-50%, -50%);
}