.contact__text {
    font-size: 14px;
    text-align: center;
}

.contact__tel {
    color: @text-color-dark;
    white-space: nowrap;
}

.contact__form {
    width: 270px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}