.freon {
    width: 100%;
    text-align: center;
    border-spacing: 0;
    padding: 0 0 2em;

    & .title {
        font-size: 20px;
        padding: 2em 0 1em;
    }

    & .freon__info {
        display: none;
    }

    & .small {
        display: block;
    }
    
    & .green {
        display: block;
    }

    & th,
    & td {
        width: 33%;
        padding: 5px 4px;
        border-bottom: 1px solid rgba(@color-light, 0.5);
    }

    & th {
        padding: 10px;
        font-weight: normal;
    }

    & tr:last-child td {
        border-bottom: none;
    }

    & th:first-child,
    & td:first-child {
        background-color: rgba(255, 0, 0, 0.1);
    }

    & th:nth-child(2),
    & td:nth-child(2) {
        background-color: rgba(255, 255, 0, 0.1);
    }

    & th:nth-child(3),
    & td:nth-child(3) {
        background-color: rgba(0, 128, 0, 0.1);
    }
}

.popup-parent {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(@color-light, 0.5);

    & h2,
    & h3,
    & h4,
    & p {
        text-indent: 0;
        text-align: center;
    }
}

.popup {
    padding: 30px 30px 20px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & p {
        text-align: center;
        text-indent: 0;
    }
}

.close-popup {
    position: absolute;
    top: -14px;
    right: -14px;
    appearance: none;
    background-color: #fff;
    border-radius: 50%;
    width: 48px;
    height: 48px;

    border: 1px solid #000;

    &::before,
    &::after {
        content: '';
        display: block;

        height: 1px;
        width: 35px;
        background-color: #000;

        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}