.main-menu {
    display: block;
    position: fixed;
    padding: 0;
    margin: 0;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
}

.main-menu__button {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: @text-color-dark;
}