.servic {
  padding-bottom: 45px;

  &.nojs {
    .servic__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.servic__item {
  width: 100%;
  max-width: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px 15px;
}

.servic__svg {
  width: 90px;
  height: 90px;
  margin-bottom: 30px;

  @media (min-width: @min-width-tablet) {
    width: 105px;
    height: 105px;
  }
}

.servic__btn {
  height: 45px;
  line-height: 45px;
  ;
}

.servic__title {
  padding: 14.5px 0;
  font-size: 14px;
  text-transform: uppercase;
}

.servic__text {
  text-align: center;
  font-size: 14px;
  color: @text-color-light;
}