.slider {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    transition: transform @transition * 2;


    &.noJs {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 60px;

        & .slider__item {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.slider__item {
    display: inline-block;
    width: 240px;
    padding: 10px 10px 0;
    box-sizing: border-box;
    border: 1px solid transparent;

    @media (min-width: @min-md) {
        width: 315px;
        padding: 15px 15px 0;
    }

    &.active {
        border-color: @color-dark-light;
    }
}

.slider__icon {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;

    @media (min-width: @min-md) {
        width: 90px;
        height: 90px;
    }
}

.slider__title {
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    margin: 0;
    padding: 1em 0 0;
    
    
    @media (min-width: @min-md) {
        font-size: 20px;
    }
    
    & a {
        position: relative;
        text-decoration: none;
        font-weight: 400;
        color: @color-dark-light;

        &::after {
            content: '';
            display: block;
            width: 100%;
            border-bottom: 1px solid @color-dark-light;
            position: absolute;
            bottom: 3px;
            left: 0;
            transition: border @transition;
        }

        &:hover {
            color: @color-contrast;

            &::after {
                border-color: @color-contrast;
            }
        }

        &:active {
            opacity: 0.7;
        }
    }
}

.slider__text {
    font-size: 14px;
    text-align: center;

    @media (min-width: @min-md) {
        font-size: 16px;
    }
}

.slider__wrap {
    position: relative;
    padding: 60px 25px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider__wrap-list {
    overflow: hidden;
}

.slider__next,
.slider__prew {
    position: absolute;
    appearance: none;
    box-shadow: none;
    width: 40px;
    height: 75px;
    padding: 0;
    background-color: transparent;
    border: 2px solid @color-dark-light;
    border-radius: 8px;
    overflow: hidden;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);

    &::before {
        content: "";
        display: block;
        border-left: 2px solid @color-dark-light;
        border-top: 2px solid @color-dark-light;
        height: 25px;
        width: 25px;
        position: absolute;
        top: 47%;
        left: 22px;
        transform: rotate(-45deg) translateY(-50%);
    }
}

.slider__next {
    transform: scale(-1, 1) translateY(-50%);
    left: auto;
    right: -15px;
}

.pager {
    padding-top: 30px;
    text-align: center;
}

.pager-button {
    appearance: none;
    box-shadow: none;
    padding: 0;
    border: 2px solid @color-dark-light;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: transparent;
    margin: 0 5px;

    &.active {
        background-color: rgba(@color-light, 0.3);
    }
}

.pager-button,
.slider__next,
.slider__prew {
    outline-color: @color-contrast;
    transition: background-color @transition, opacity @transition;

    &:hover {
        background-color: rgba(@color-light, 0.3);
        opacity: 70%;
    }

    &:active {
        background-color: rgba(@color-light, 0.3);
        opacity: 100%;
    }


    &:disabled {
        opacity: 0.3;
        background-color: transparent;
    }
}