body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

// tag

img {
  max-width: 100%;
}

p {
  color: @text-color-dark;
  margin: 0;
  padding: 1em 0;
  font-size: 16px;
}

a {
  transition: 0.2s all;

  &:hover {
    opacity: 0.8;
  }

  &:focus,
  &:active {
    opacity: 1;
    outline-color: @button-color;
  }

}

section {
  padding-top: 45px;

  &:nth-child(even) {
    background-color: @bg-color-light;
  }

  &:nth-child(odd) {
    background-color: @bg-color-dark;
  }
}
h1,
h2,
h3 {
  font-weight: normal;
}
h2 {
  margin: 0;
  font-size: 18px;
  line-height: 45px;
  color: @text-color-dark;
  text-align: center;

  @media (min-width: @min-width-tablet) {
    font-size: 25px;
  }
}

// \tag

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  position: relative;
}

.list-rezet {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hide-mobile {
  display: none;

  @media (min-width: @min-width-tablet) {
    display: block;
  }
}

.visible-mobile {
  @media (min-width: @min-width-tablet) {
    display: none;
  }
}