@transition: 0.2s;

// colors
@color-dark: #343C75;
@color-dark-light: #4D5693;
@color-light: #88adf1;
@color-super-light: #F0F7FF;
@color-contrast: #2dcf7a;

// @media
// min-width/max-width
@max-sm: 575px;
@min-sm: 576px;

@max-md: 767px;
@min-md: 768px;

@max-lg: 989px;
@min-lg: 990px;

@max-xl: 1200px;
@min-xl: 1201px;

@min-xxl: 1920px;