// @media
// min-width
@min-width-tablet: 768px;
@max-width-tablet: 1199px;
// max-width
@max-width-mobile: 767px;
@min-width-desktop: 1288px;

// min-resolution
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;


// colors
@bg-color-light: #F0F0F2;
@bg-color-dark: #77D9D9;
@button-color: #F2E41D;
@text-color-light: #A68B03;
@text-color-dark: #594302;
